@import "../../utility/variables.scss";
$border: 1px solid #eee;

#experience {
  padding: $padding;
  padding-top: 50px;
  padding-bottom: 50px;
  .experience-title {
    @include heading;
  }
  .experience-div {
    padding: 25px;
    border: 1px solid #eee;
    border-radius: $border-radius;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    gap: 25px;
    margin-bottom: 50px;
    transition: all 0.2s ease;
    &-title {
      border-bottom: $border;
      margin-bottom: 15px;
      font-size: 22px;
    }
    &:hover {
      transform: translateY(-10px);
    }
  }
}
